# pip install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu118
# pip install torch-geometric
# pip install -r requirements.txt

kagglehub
itables
matplotlib
numpy
optuna
pandas
plotly
py3Dmol
rdkit
rdkit-pypi
scikit-learn
seaborn
torch
torch-geometric
torchaudio
torchvision
tqdm
